@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui;
  background-color: #030712;
  color: #e5e7eb;
}